body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.caixa-branca {
    background-color: white;
    width: 400px;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

button {
    display: block;
    margin: 1px auto;
    padding: 10px 15px;
    background: linear-gradient(to right, #4683f5, #0056b3);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

button:hover {
    background: linear-gradient(to right, #5a96f6, #1e62c9);
    transform: scale(1.03);
}

.form-busca,
.form-cadastro{
    text-align: center;
}


.form-lista {
    text-align: left;
    margin-bottom: 20px;
}

.form-cadastro input,
.form-cadastro select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.lista-produtos {
    list-style: none;
    padding: 0;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
}

.lista-produtos li {
    margin-bottom: 8px;
}

.erro {
    color: red;
    font-weight: bold;
}