body {
    background: linear-gradient(to bottom, #00f5e1, #0083d8, #003a8c);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-home {
    background: white;
    width: 90%;
    max-width: 450px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.home-buttons .btn {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.home-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagina {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-branca {
    background-color: white;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    width: 400px;
    max-width: 90%; /* Responsivo */
    text-align: center;
}

.caixa-branca h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 32px;
    color: #222;
}

.menu-botoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;
}

.btn-menu {
    display: block;
    padding: 12px;
    border-radius: 8px;

    background: linear-gradient(to right, #4683f5, #0056b3);
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

    transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn-menu:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

.form-cadastro input,
.form-cadastro select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;

    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-busca,
.form-cadastro {
    text-align: center;
}

.form-lista {
    text-align: left;
    margin-bottom: 20px;
}

.lista-produtos {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.lista-produtos li {
    margin-bottom: 8px;
}

.erro {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width: 480px) {
    .caixa-branca {
        padding: 30px 20px;
    }

    .btn-menu {
        font-size: 15px;
        padding: 10px;
    }

    .caixa-branca h1 {
        font-size: 26px;
    }
}
