{% extends 'estoque/base.html' %}
{% block title %}Estoque{% endblock %}

{% block content %}
    <div class="caixa-branca">
        <h1>Editar Produto</h1>

        <form method="post">
            {% csrf_token %}
            <label>Descrição:</label>
            <input type="text" name="descproduto" value="{{ produto.descproduto }}" required>
                <br>
            <label>Unidade de Medida:</label>
            <select name="unidadedemedida" required>
                {% for unidade in unidades %}
                    <option value="{{ unidade }}" {% if unidade == produto.unidadedemedida %}selected{% endif %}>
                        {{ unidade }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit">Salvar</button>
            <a href="{% url 'produto' %}"><button type="button">Cancelar</button></a>
        </form>
    </div>

{% endblock %}